<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuer.mapper.RoleMBMapper">
  <select id="selectDeptIdByRoleId" resultType="java.lang.Integer">
  	select 
  		yuerdrr.dept_id as deptId 
  	from yuer_dept_role_rel yuerdrr 
  	where yuerdrr.role_id = #{roleId}
  </select>
  
  <select id="selectRoleInfos" resultType="com.yuer.model.RoleMB">
  	select 
  		yuerr.id as id,
  		yuerr.name as name,
  		yuerr.code as code 
  	from yuer_role yuerr 
  </select>
  
</mapper>